{% extends 'base.html' %}
{% load static %}
{% block title %}Product{% endblock title %}Home

{% block editproduct %}
    <center><h1>Update Product</h1></center>
	<br>	
	<form method="POST">
		{% csrf_token %} 
		<label for="product_name">Product Name:</label>
			<select  name="product_name">
			<option value="">{{update.product_name}}</option>
			{%for i in cate %}
			<option value={{i.category_name}}>{{i.category_name}}</option>
			{%endfor%}	
		</select> 
        {% if update.product_image %}
        <img src ="{{update.product_image.url}}" alt="image here">
        {% endif %} 
		<label for="product_image">Product Image:</label>
		<input type="file" name="product_image">
     

		<label for="product_price">Product Price:</label>
		<input type="text" name="product_price" value="{{update.product_price}}">

		<input type="submit" value="Update Product">
	</form>

    {%endblock%}